.form-signin { 
    img {
        max-width: 20%;
        margin: 30px 10px;
    }
}
.btn-form {
    background: #ff0000;
    color: #fff;
    margin: 25px 0;    
}

.login-form {
    width: 40%;
}

.navbar {
    background: #ff0000;
}

.login_container .mat-input-placeholder {
    color: #fff !important;
}