.form-signin { 
    img {
        max-width: 20%;
        margin: 30px 10px;
    }
}
.btn-form {
    background: red;
    color: white;
    margin: 25px 0;    
}

.login-form {
    width: 40%;
}

.navbar {
    background: red;
}

.login_container .mat-input-placeholder {
    color: white !important;
}