<div class="login-container text-center">
    <div class="form-signin">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/NXDragonsLogo.png" alt="">
      </div>
  
      <form class="example-container">
        <mat-form-field class="login-form">
          <input matInput placeholder="Usuário" [formControl]="username" required>
          <span matSuffix></span>
        </mat-form-field>
        <br>
        <mat-form-field class="login-form">
          <input matInput placeholder="Senha" [formControl]="password" required [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button mat-raised-button class="btn-form" type="submit" (click)="onLogin(username.value, password.value)">Entrar</button>
      </form>    
    </div>
    <mat-error *ngIf="loginError">Usuário ou senha incorretos! Obs:. Leia o arquivo README.md para obter os dados de acesso.</mat-error>    
  </div>
